:root{
    --aaa-blue: #6379A6;
    --aaa-red: #DC4556;
    --delay-time: 0.5s;
}

.blue{
    background-color: var(--aaa-blue);
}

.details{
    cursor: pointer;
    width: 1rem;
    border: solid 0.01rem lightgrey;
}

.details-hidden {
    width: 0;
}

@media only screen and (max-width: 767px) {
    #AAA_logo {
        max-width: 6rem !important;
        max-height: 6rem !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/*@media only screen and (max-width: 700px) {*/
/*    .blue {*/
/*        display: flex;*/
/*        flex-direction: column; !* Stack elements vertically *!*/
/*    }*/

/*    .details {*/
/*        order: 2; !* Move .details below .map-container *!*/
/*    }*/

/*    .map-container {*/
/*        order: 1; !* Ensure .map-container stays on top *!*/
/*    }*/
/*}*/


#map {
    height: 100%;
}

/*
 * Optional: Makes the sample page fill the window.
 */
/*html,*/
/*body {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

.accordion-body{
    cursor:pointer;
}

#AAA_logo_middle {
    display:block;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
}

.hidden {
    display:none;
}

.unhidden {
    display:block;
}

@keyframes pokePulse {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5%);
        opacity: .9;
    }
}

.animate-pokePulse {
    animation: pokePulse 1.7s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}
.map-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.responsive-map {
    width: 100%;
    height: 500px; /* Fixed height */
    max-width: 1200px;
    border-radius: 1%;
}

@media (max-width: 1200px) {
    .responsive-map {
        width: 100%; /* Adjust the width responsively */
    }
}

@keyframes drop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    50% {
        transform: translateY(10px);
        opacity: 0.7;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Applied when a marker is observed (enters the viewport) */
.drop {
    animation: drop 0.5s ease-out forwards var(--delay-time);
}

/* Custom button style for map controls */
.custom-map-control-button {
    background-color: white;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 8px 12px;
    cursor: pointer;
}

.custom-map-control-button:hover {
    background-color: #f0f0f0;
}
